<header>
    <nav class="d-flex felx-wrap justify-content-center justify-content-center-md-between py-3 mb-4 border-bottom ">
        <ul class="nav nav-pills">
            <li class="nav-item px-3">
                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
            </li>
            <li class="nav-item px-3">
                <a href="{% url 'tasks:tasks_home' %}" class="btn btn-primary">Tasks</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item px-3">
                    <a href="{% url 'logout' %}" class="btn btn-secondary">Cerrar Sesion</a>
                </li>
            {% else %}
                <li class="nav-item px-3">
                    <a href="{% url 'login' %}" class="btn btn-secondary">Iniciar Sesion</a>
                </li>
                <li class="nav-item px-3">
                    <a href="{% url 'signup' %}" class="btn btn-secondary">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>