{% extends 'layouts/base.html' %}

{% block contenido %}

    <h1>{{tarea.titulo}}</h1>
    <p>{{id_tarea}}</p>

    <form action="" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary mb-4">
            Actualizar
        </button>
    </form>

    <!--El identificado se lo paso por contexto, desde la url para mostrar detalle-->
    <form action="{% url 'tasks:completar_tarea' tarea.id %}" method="POST"> {% csrf_token %}
        <button class="btn btn-primary mb-4">
            Tarea completada
        </button>
    </form>

    <form action="{% url 'tasks:borrar_tarea' tarea.id %}" method="POST"> {% csrf_token %}
        <button class="btn btn-primary">
            ELIMINAR
        </button>
    </form>

{% endblock %}