{% extends 'layouts/base.html' %}

{% block contenido %}
    <h1>TAREAS</h1>

    <div class="container">
        <a class="btn btn-primary mb-4" href="{% url 'tasks:crear_tarea' %}">Crear nueva tarea</a>
    </div>

    <div class="container">
        <ul class="list-group list-group-flush">
    
            {% for tarea in tareas %}
                <li class="list-group-item {% if tarea.importante %}list-group-item-danger{% endif %}"" >
                    <a href="{% url 'tasks:detalle_tarea' tarea.id %}">
                        <p class="h1">{{tarea.titulo}}</p>
                        <p class="h3">{{tarea.descripcion}}</p>
                        <p class="h3">{{tarea.user.username}}</p>
                    </a>
                </li>
            {% endfor %}
    
        </ul>
    </div>

{% endblock %}